{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <ul>
    {% for author in authors %}
        <li>{{ author.name.firstName }}</li>
    {% endfor %}
    </ul>
{% endblock %}
