{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <ul>
        {% for comic in comics %}
            <li>{{ comic.title.title }}</li>
        {% endfor %}
    </ul>
{% endblock %}
