{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Add new Comic :D</h1>
        <label for="inputTitle" class="sr-only">Title</label>
        <input type="text" value="" name="title" id="inputTitle" class="form-control" placeholder="Title" required autofocus>
        <input type="text" value="" name="description" id="inputDescription" class="form-control" placeholder="Description">

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button>
    </form>
{% endblock %}
