{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <ul>
        <li>{{ comic.title.title }}</li>
        <ol>
            {% for author in comic.authors %}
                <li>{{ author.name.firstName }}</li>
            {% endfor %}
        </ol>
        <li>{{ comic.description.description }}</li>
    </ul>
{% endblock %}
